@import "tailwindcss";

html, body {
  font-weight: 300;
  color: #111111;
}

@theme {
  --font-sans: "Sansation", sans-serif;

  --color-primary: oklch(0.4 0.2737 264.54); /* #0500d6 */
  --color-primary-50: oklch(0.96 0.0175 279.06);
  --color-primary-100: oklch(0.93 0.0314 277.92);
  --color-primary-200: oklch(0.88 0.0586 276.65);
  --color-primary-300: oklch(0.78 0.113367 277.3442);
  --color-primary-400: oklch(0.65 0.1904 276.05);
  --color-primary-500: oklch(0.51 0.2726 270.73);
  --color-primary-600: oklch(0.46 0.30536 266.3839);
  --color-primary-700: oklch(0.45 0.3122 264.52);
  --color-primary-800: oklch(0.4 0.2737 264.54);
  --color-primary-900: oklch(0.34 0.2353 264.97);
  --color-primary-950: oklch(0.26 0.1767 264.15);

  --color-black: oklch(0.18 0 0); /* #111111 */
  --color-grey: oklch(0.97 0 0); /* #F5F5F5 */
}

@utility page {
  width: 1200px;
}

@utility btn {
  cursor: pointer;
}

@utility hamburger {
  width: 2rem;
}

@utility card {
  border-radius: .5rem;
  height: 52vh;
  background-image: url('/Vector.png');
  cursor: pointer;
}

@utility footer {
  background-image: url('/Vector.png');
}